
body {
    background-color: black;
    color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background-color: black;
    color: gold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    display: inline-block;
    margin-right: 20px;
}

.header a {
    color: gold;
    text-decoration: none;
    font-size: 16px;
}

.header a:hover {
    text-decoration: underline;
}

h1 {
    color: gold;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}


.social-media {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
  }
  
 
  @media (max-width: 768px) {
    .social-media img {
      width: 20px;
      height: 20px;
    }
  }
  

  @media (max-width: 480px) {
    .social-media img {
      width: 15px;
      height: 15px;
    }
  }


.animated-text {
    color: blue;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

h2, h3 {
    color: gold;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
}


.footer {
    color: gold;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: gold;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}


.container {
    text-align: center;
    margin-top: 40px;
}

.country-list {
    margin-top: 20px;
}

.country-list ul {
    list-style: none;
    padding: 0;
}

.country-list li {
    margin-bottom: 10px;
    color: gold;
}
.container img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  right: 10px;
}


@media only screen and (max-width: 768px) {
  .container img {
    width: 150px;
    height: 150px;
  }
}


@media only screen and (max-width: 480px) {
  .container img {
    width: 100px;
    height: 100px;
  }
}
